;; shadow-cljs configuration
{:source-paths
 ["src/main"]

 :dev-http
 {8080 "public"}

 :dependencies
 [[no.cjohansen/replicant "2025.06.21"]
  [no.cjohansen/nexus "2025.11.1"]]

 ; :deps true

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [main]}}}}}
